.u-section-1 .u-sheet-1 {
  min-height: 163px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 81px auto 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 256px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  margin: 64px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.4;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 427px;
}

.u-section-2 .u-text-4 {
  margin: -28px auto 32px 427px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-left: 327px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-left: 217px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    margin-left: 27px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 27px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 81px;
}

.u-section-3 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 39px;
  min-width: 16px;
  margin: 9px auto 0 513px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
  color: rgb(0, 119, 183) !important;
}

.u-section-3 .u-social-icons-2 {
  height: 39px;
  min-height: 16px;
  width: 39px;
  min-width: 16px;
  margin: -39px auto 33px 588px;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-social-icons-2 {
    margin-right: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-social-icons-1 {
    margin-left: 501px;
  }

  .u-section-3 .u-social-icons-2 {
    margin-left: 501px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-social-icons-1 {
    margin-left: 301px;
  }

  .u-section-3 .u-social-icons-2 {
    margin-left: 301px;
  }
}