.u-section-1 .u-sheet-1 {
  min-height: 113px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 44px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 37px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 627px;
  background-size: 175%;
  animation-duration: 1000ms;
  transition-duration: 0.25s;
}

.u-section-2 .u-image-1 {
  background-image: url("images/gt3_2.JPG");
  background-position: 50% 85.15%;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  padding: 0 6px 0 135px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 627px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 33px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 517px;
    background-position: 50% 50%;
    background-size: 160%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 517px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 22px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 398px;
    background-size: auto 160%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 17px;
    margin-bottom: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 15px 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }
}