.u-section-1 .u-sheet-1 {
  min-height: 113px;
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 4px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 627px;
  background-image: url("images/gt3_2.JPG");
  background-position: 86.02% 81.58%;
  background-size: 175%;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  padding: 0 6px 0 135px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 627px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 264px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 517px;
    background-size: 160%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 517px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 396px;
    background-size: auto 160%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 938px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 384px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -128px;
  }
}