.u-section-1 .u-sheet-1 {
  min-height: 473px;
}

.u-section-1 .u-text-1 {
  margin: 108px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.4;
  margin: 56px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}