.u-section-1 .u-sheet-1 {
  min-height: 163px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 81px auto 30px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 0 -40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-2 .u-image-1 {
  width: 503px;
  height: 236px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 443px;
    height: 177px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    width: 333px;
    height: 133px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 10px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 150px;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 0 -40px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-3 .u-image-1 {
  width: 503px;
  height: 236px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-image-1 {
    width: 443px;
    height: 177px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-image-1 {
    width: 333px;
    height: 133px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -169px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 150px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 112px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1071px;
  margin: 61px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 278px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 21px 14px;
}

.u-section-4 .u-image-1 {
  height: 236px;
  animation-duration: 1000ms;
  object-position: 0% 50%;
  width: 503px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 278px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 9px;
  }

  .u-section-4 .u-image-1 {
    object-position: 0% 100%;
    height: 165px;
    width: 489px;
    margin-top: 1px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-4 .u-image-1 {
    width: 368px;
    height: 112px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -412px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 150px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 193px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 163px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 81px auto 30px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1071px;
  margin: 61px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 278px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 21px 14px;
}

.u-section-6 .u-image-1 {
  height: 236px;
  animation-duration: 1000ms;
  object-position: 0% 50%;
  width: 503px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 278px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 9px 0;
  }

  .u-section-6 .u-image-1 {
    object-position: 0% 100%;
    height: 165px;
    width: 489px;
    margin-right: -57px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-6 .u-image-1 {
    width: 368px;
    height: 112px;
    margin-top: 39px;
    margin-right: -46px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 47px;
    margin-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 131px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 150px;
    margin-top: 40px;
    margin-right: -20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 193px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1071px;
  margin: 61px auto 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 278px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 21px 14px;
}

.u-section-7 .u-image-1 {
  height: 236px;
  animation-duration: 1000ms;
  object-position: 0% 50%;
  width: 503px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 278px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-7 .u-image-1 {
    object-position: 0% 100%;
    height: 165px;
    width: 489px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-7 .u-image-1 {
    width: 368px;
    height: 112px;
    margin-top: 39px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 54px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -412px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 150px;
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 193px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1071px;
  margin: 61px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 278px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-8 .u-image-1 {
  object-position: 0% 54.39%;
  width: 503px;
  height: 236px;
  animation-duration: 1000ms;
  margin: 0 -107px 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 278px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 9px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 20px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -562px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 160px;
    margin-top: 26px;
    margin-right: -96px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 193px;
  }
}